*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --color-text-primary: #222f3e;
  --color-text-secondary: #fff;
  --color-text-nav-primary: #16a085;
  --color-button-primary: #16a085;
  --color-button-primary-hover: #208a75;
  --color-button-secondary: #2f485e;
  --color-background-primary: #fff;
  --color-background-secondary: #f3f4f6;
  --color-border-primary: #e5e7eb;
  --color-border-secondary: #16a085;
  --color-icon-background-primary: #f3f4f6;
}

.dark-mode {
  --color-text-primary: #ebf4f1;
  --color-text-secondary: #222f3e;
  --color-text-nav-primary: #41b38a;
  --color-button-primary: #41b38a;
  --color-button-primary-hover: #208a75;
  --color-button-secondary: #fdf9f3;
  --color-background-primary: #111827;
  --color-background-secondary: #1e293b;
  --color-border-primary: #0d2538;
  --color-border-secondary: #16a085;
  --color-icon-background-primary: #f3f4f6;
}

.ash-mode {
  --color-text-primary: #ebf4f1;
  --color-text-secondary: #222f3e;
  --color-text-nav-primary: #41b38a;
  --color-button-primary: #41b38a;
  --color-button-secondary: #fdf9f3;
  --color-background-primary: #536976;
  --color-background-secondary: #1e293b;
  --color-border-primary: #0d2538;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;

  /* background: #536976; */
  background: -webkit-linear-gradient(to right, #292e49, #536976);
  background: linear-gradient(to right, #292e49, #536976);

  background: var(--color-background-primary);
  color: var(--color-text-primary);
  transition: background-color 0.3s;
}

.home-enter-active,
.home-leave-active {
  transition: opacity 1s;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}

/* Glassmorphism card effect */
.glass-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--color-background-secondary);
  /* background-color: rgba(255, 255, 255, 0.75); */
  border-radius: 12px;
  /* border: 1px solid rgba(209, 213, 219, 0.3); */
}

.highlight code {
  background-color: var(--color-background-secondary);
  padding: 20px;
  line-height: 2.5rem;
}

.social-btn {
  transition: transform 250ms;
  cursor: pointer;
}

.social-btn:hover {
  transform: translateY(-8px);
}
