@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --bg-color: #ffffff;
  --primary-color: #067b5a; 
  --secondary-color: #aea9a5;
  --text-primary-color: #2d2d2d;
  --text-btn-color: #f6f6f6;
  --text-link-color: #0ac38f;
  --glass-card-color: rgba(243,244,246, 0.75);
  --code-color: #1F2937;
}

.dark-mode {
  --bg-color: #111927;
  --primary-color: #067b5a;
  --secondary-color: #aea9a5;
  --text-primary-color: #f6f6f6;
  --glass-card-color: rgba(30, 41, 59, 0.75);
}

html {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  background: var(--bg-color);
  color: var(--text-primary-color);
  transition: background-color 0.3s;
}

.home-enter-active,
.home-leave-active {
  transition: opacity 1s;
}
.home-enter,
.home-leave-active {
  opacity: 0;
}

.glass-card {
  background-color: var(--glass-card-color);
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.glass-card:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
}

.highlight code {
  background-color: var(--code-color);
  padding: 20px;
  line-height: 2.5rem;
}

.social-btn {
  transition: transform 250ms;
  cursor: pointer;
}

.social-btn:hover {
  transform: translateY(-8px);
}
